body {
    text-align: center;
}

/* style for the flip card*/
#flip-card {
    width: 100%;
    height: 500px;
    border: 5px slategray solid;
    margin-right: 5px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 15px;
}

/*media queries for less high devices*/
@media (max-height:800px) {
    #flip-card {
        height: 400px;
    }

    #ans-submit>input {
        margin-top: 7px;
        margin-bottom: 4px;
    }

    #ans-submit {
        padding-top: 10px;
        padding-bottom: 10px;
    }
}

@media (max-height:530px) {
    #flip-card {
        height: 200px;
    }

    #ans-submit>input {
        margin-top: 5px;
        margin-bottom: 2px;
    }

    #ans-submit {
        padding-top: 5px;
        padding-bottom: 5px;
    }
}

@media (max-height:480px) {
    #flip-card {
        height: 150px;
    }

    #ans-submit>input {
        margin-top: 5px;
        margin-bottom: 2px;
    }

    #ans-submit {
        padding-top: 0px;
        padding-bottom: 0px;
    }
}

/* css for index.html*/

#lang-select {
    padding: 10px;
}

#lang-popup {
    width: 50%;
    margin: auto;
    border: 3px solid gray;
}

/*end*/

/*css for central widget, centralises all items inside and stacks them in flex column */
.central-widget {
    display: flex;
    flex-direction: column;
    margin-left: 5px;
    margin-right: 15px;
    min-width: 250px;
}

@media screen and (min-width: 800px) {

    .central-widget {
        margin-left: 150px;
        margin-right: 150px;
    }
}

@media screen and (min-width: 1200px) {
    .central-widget {
        margin-left: 250px;
        margin-right: 250px;
    }
}


/* css animations from https://www.w3schools.com/css/css3_animations.asp*/
#win-banner {
    display: none;
    height: 50px;
    width: 100%;
    background-color: #22aa24;
    animation-name: example;
    animation-duration: 2s;
    animation-iteration-count: 1;
    transform: translateY(100%);
    border-radius: 15px;
}

#banner-text {
    color: white;
}

/*popup animation for win animation */
@keyframes example {
    100% {
        transform: translateY(-270px);
    }
}

/* end */

/*styles for ans submit*/
#ans-submit {
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;

}

#ans-submit>input {
    margin-top: 10px;
    margin-bottom: 10px;
}

/*end*/

/*styles for all button and button like things*/
.buttons {
    height: 50px;
    font-size: large;
    border-radius: 15px;
    background-color: #19A7CE;
    font-weight: bold;
}

/**/
/*styles for areas you can type text */
.text-areas {
    height: 50px;
    border-radius: 15px;
    font-size: large;
}

/*styles for areas that look like you can type text */
.fake-text-areas {
    display: flex;
    justify-content: center;
    height: 60px;
    border-radius: 15px;
    margin: 10px;
    border: 2px black solid;
    border-radius: 15px;
    width: 150px;
    font-size: 3em;

}

.fake-text-areas>div {
    margin-left: 5px;
    margin-right: 5px;
}

/*container for lives and correct answer labels*/
.top-panel {
    display: flex;
    justify-content: center;
}

/**/
#lang-select {
    display: inline-block;
}

/*the shake animation for wrong answer animation*/
@keyframes shake {
    0% {
        transform: translate(1px, 0px);
    }

    10% {
        transform: translate(-1px, 0px);
    }

    20% {
        transform: translate(-3px, 0px);
    }

    30% {
        transform: translate(3px, 0px);
    }

    40% {
        transform: translate(1px, 0px);
    }

    50% {
        transform: translate(-1px, 0px);
    }

    60% {
        transform: translate(-3px, 0px);
    }

    70% {
        transform: translate(3px, 0px);
    }

    80% {
        transform: translate(-1px, 0px);
    }

    90% {
        transform: translate(1px, 0px);
    }

    100% {
        transform: translate(1px, 0px);
    }
}

/*color for lives heart font*/
.red-text {
    color: #eb1414;
}

/*color for lives check font*/
.green-text {
    color: #22aa24;
}

/* styles for container and popup from this stackoverflow post:
https://stackoverflow.com/questions/18372928/how-to-make-popup-in-center-of-screen-and-overlay-background-to-full-screen-high
*/
#container-popup {
    display: none;
    position: relative;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, .8);
}

#win-game-popup {
    width: 50%;
    height: 50%;
    background-color: #19A7CE;
    border: 5px #19A7CE solid;
    border-radius: 15px;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
}
/* end */
#win-game-popup>a {
    color: white;
    border: 5px slategray solid;
    border-radius: 15px;
    background-color: slategray;
}